/*
 * 1. Header
 * 2. Navigation
 * 3. Body
 * 4. Content
 * 5. Footer
*/

/* 1. Header */

a {
    color: grey;
}

body > header {
	background-color: #3D3C3A;
	width: 100%;
	text-align: center;
	color: grey;
	border-radius: 15px 15px 0 0;
    border: 0px;
}

body > header > h1 {
	display: inline-block;
	margin-right: 1.5rem;
}

/* 2. Navigation */

nav {
	background: black;
	display: inline-block;
	width: auto;
}
nav > ul {
	list-style-type: none;
    margin: 0;
	padding: 0;
    background-color: black;
	display: inline-block;
}
nav > ul li {
	display: inline-block;
	height: 100%;
}
nav > ul li a {
    display: block;
    color: white;
    text-align: center;
    padding: 15px;
    text-decoration: none;
}
nav > ul li:hover {
	text-shadow: 2px 2px black;
	animation: animacion;
	animation-duration: 1s;
	animation-direction: alternate;
	animation-iteration-count: infinite;
}
@keyframes animacion {
    from {background-color: black;}
    to {background-color: grey;}
}

/* 3. Body */

body {
    background-image: url(../images/bg.gif);
	background-color: black;
	margin-left: auto;
	margin-right: auto;
	width: 65rem;
	font-family: sans-serif;
}

/* 4. Content */

.content {
	background-color: #3D3C3A;
    border:0px;
    margin-top: -1px;
}

.content > section {
	display: block;
}

.content > section > main {
	padding-left: 1rem;
	padding-right: 1rem;
	box-sizing: border-box;
	overflow-y: scroll;
	display: inline-block;
	background-color: #313131;
	box-sizing: border-box;
	vertical-align: top;
	height:  420px;
	width: 70%;
    border:0px;
    color:grey;
    border-radius: 15px;
}

table,th,td {
    border: 1px solid #3D3C3A;
    padding: 0.05cm;
}

.content > section > main img {
    width: 150px;
    height: auto;
}

.content > section > aside {
	box-sizing: border-box;
	vertical-align: top;
	display: inline-block;
	width: 29%;
    color:gray;
}
.content > section > aside div {
	text-align: center;
	margin: 5px;
	margin-bottom: 10px;
	background-color: #313131;
	display: block;
	box-sizing: border-box;
    border-radius: 15px;
    padding: 5px;
    border:0px;
}

.aside_content {
    margin-top: 15px;
	display: block;
	text-align: center;
	width: 100%;
	padding: 0;
	overflow: hidden;
}

.aside_content div {
	display: inline-block;
	box-sizing: border-box;
	background-color: #313131;
	width: 31%;
	margin: 5px;
	height: 250px;
	vertical-align: middle;
    color:gray;
    border-radius: 15px;
    border:0px;
}
.aside_content img {
	width: 20%;
	height: auto;
}
ul.nodeco {
	list-style-type: none;
	text-align: left;
}
section.center {
	display: block;
	text-align: center;
}

/* 5. footer */

footer {
	margin: 0;
	background-color: #3D3C3A;
	color: grey;
	text-align: center;
	border-radius: 0 0 15px 15px;
	height: 2rem;
}
footer p {
	margin: 0;
	vertical-align: middle;
}
