---
import Layout from "@/layouts/Layout.astro";
import HomeSection from "@/components/HomeSection.astro";
import BioSection from "@/components/BioSection.astro";
import SkillsSection from "@/components/SkillsSection.astro";
import ProjectsSection from "@/components/ProjectsSection.astro";
import ContactSection from "@/components/ContactSection.astro";
import { getPageSEO } from "@/utils/seo";

const seoConfig = getPageSEO('home');
---

<Layout {...seoConfig}>
    <main class="max-w-7xl mx-auto px-6 pt-14 xs:pt-20">
        <div class="flex flex-col gap-y-18">
            <HomeSection />
            <BioSection />
            <SkillsSection />
            <ProjectsSection />
            <ContactSection />
        </div>
    </main>
    <footer class="bg-grayblue-800 py-6 text-center text-sm text-grayblue-400">
        <p>Made with ♥️ from Chihuahua, Mexico.</p>
    </footer>
</Layout>
