---

---

<section id="bio" class="py-8 scroll-mt-20 visible-animate">
  <h2 class="mb-12 text-center text-3xl font-medium visible-animate">About Me</h2>
  <div class="mx-auto bg-grayblue-800 p-8 rounded-lg shadow-lg visible-animate">
    <p class="text-lg leading-relaxed text-grayblue-300 visible-animate">
      With a passion for technology and over eight years of experience in web development, I've dedicated myself to adopting and implementing the latest industry trends and tools. My portfolio includes a diverse range of cloud projects spanning websites, mobile applications, and desktop software.
    </p>
    <p class="text-lg leading-relaxed text-grayblue-300 mt-4 visible-animate">
      As a self-taught perfectionist and natural leader, I bring strong problem-solving abilities to every project I undertake. My consistently positive, motivating, and inclusive approach enables me to thrive in collaborative environments where knowledge sharing is valued.
    </p>
    <p class="text-lg leading-relaxed text-grayblue-300 mt-4 visible-animate">
      Beyond the professional realm, I find balance through music, sports, and quality time with family.
    </p>
  </div>
</section>
