---
---

<section id="contact" class="py-8 scroll-mt-20 visible-animate">
  <h2 class="mb-12 text-center text-3xl text-grayblue-100 font-medium visible-animate">Get in Touch</h2>
  <div class="flex justify-center visible-animate">
    <div class="tidycal-embed visible-animate" data-path="jperusm/15-minute-meeting"></div>
    <script src="https://asset-tidycal.b-cdn.net/js/embed.js" async></script>
  </div>
</section>
