---
---

<section id="contact" class="py-8 scroll-mt-20 opacity-0">
  <h2 class="mb-12 text-center text-3xl font-medium text-grayblue-900 dark:text-grayblue-100 gsap-fade-up transition-colors duration-300">Get in Touch</h2>
  <div class="flex justify-center gsap-fade-up-noreverse">
    <div class="tidycal-embed" data-path="jperusm/15-minute-meeting"></div>
    <script src="https://asset-tidycal.b-cdn.net/js/embed.js" async></script>
  </div>
</section>
