---
---

<section id="contact" class="py-8 scroll-mt-20 gsap-section">
  <h2 class="mb-12 text-center text-3xl text-grayblue-100 font-medium gsap-fade-up">Get in Touch</h2>
  <div class="flex justify-center gsap-fade-up">
    <div class="tidycal-embed gsap-fade-up" data-path="jperusm/15-minute-meeting"></div>
    <script src="https://asset-tidycal.b-cdn.net/js/embed.js" async></script>
  </div>
</section>
