---
import skills from '@/assets/data/skills.json'
---
<section id="skills" class="py-8 scroll-mt-20  opacity-0">
  <h2 class="mb-12 text-center text-3xl font-medium gsap-fade-up">Skills & Expertise</h2>
  <div class="grid grid-cols-2 gap-8 md:grid-cols-4 gsap-fade-up">
    {skills.map((skill: string) => (
      <div class="rounded-lg bg-grayblue-800 p-6 text-center shadow-lg transition-all duration-300 hover:bg-slate-700 hover:scale-110 flex items-center justify-center gsap-fade-up">
        <p class="text-lg text-center break-words hyphens-auto font-medium">{skill}</p>
      </div>
    ))}
  </div>
</section>
