@charset "utf-8";

// IMPORTS
@import url('https://fonts.googleapis.com/css?family=Nunito');

// SASS VARIABLES

    // COLORS
    $color-primary: rgb(255, 255, 255);
    $color-secondary: rgb(49, 49, 49);
    $font-family: "Nunito", sans-serif;
    $font-weight: 400;
    $font-shadow: 2px 2px 4px rgb(0, 0, 0);
    $font-color-primary: rgba(255, 255, 255, 0.8);

// CSS VARIABLES

:root {
        // COLORS
        --color-primary: #{$color-primary};
        --color-secondary: #{$color-secondary};
        --font-family: #{$font-family};
        --font-weight: #{$font-weight};
        --font-shadow: #{$font-shadow};
        --font-color-primary: #{$font-color-primary};
}

body {
    background-color: var(--color-primary);
    color: var(--font-color-primary);
    font-family: var(--font-family);
    font-weight: var(--font-weight);
    text-shadow: var(--font-shadow);
}