---
const { title } = Astro.props
import '@/styles/index.css'
---

<!DOCTYPE html>
<html lang="en" class="min-h-dvh bg-cover bg-center bg-no-repeat bg-fixed">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <script type="text/javascript">
      (function(c,l,a,r,i,t,y){
          c[a]=c[a]||function(){(c[a].q=c[a].q||[]).push(arguments)};
          t=l.createElement(r);t.async=1;t.src="https://www.clarity.ms/tag/"+i;
          y=l.getElementsByTagName(r)[0];y.parentNode.insertBefore(t,y);
      })(window, document, "clarity", "script", "l5tvca8qee");
  </script>
  </head>
  <body class="min-h-screen h-full bg-grayblue-900 text-grayblue-100">
    <main>
      <slot />
    </main>
  </body>
</html>
